<header>
  <div class="navbar navbar-dark border-bottom">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 35px" class='fas fa-shipping-fast'></i> &nbsp; &nbsp;
      <strong style="font-size: 30px">Desafio Estágio Desenvolvedor Front End - Douglas's Store</strong>
    </div>
    <button routerLink="cart" class="btn btn-primary">
      <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
      <div class="badge bg-danger">{{totalItemNumber}}</div>
    </button>
  </div>
</header>
