<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <footer>
    <div class="container-footer">
      <div class="row-footer">

        <div class="footer-col">
          <h4>Empresa</h4>
          <ul>
            <li><a href="#">Quem somos</a></li>
            <li><a href="#">Endereço</a></li>
            <li><a href="">Nossos Serviços</a></li>
            <li><a href="">Política de Privacidade</a></li>
            <li><a href="">Programa de Fidelidade</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Obter ajuda</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Transporte</a></li>
            <li><a href="#">Devoluções</a></li>
            <li><a href="#">Status De Pedido</a></li>
            <li><a href="#">Opções De Pagamento</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Produtos</h4>
          <ul>
            <li><a href="#">Smartphones</a></li>
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Fragrances</a></li>
            <li><a href="#">Skincare</a></li>
            <li><a href="#">Groceries</a></li>
            <li><a href="#">Home-Decoration</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Se subscreva!</h4>
          <div class="form-sub">
            <form>
              <input type="email" placeholder="Digite o seu e-mail" required>
              <button>subscrever</button>
            </form>
          </div>

          <div class="medias-socias">
            <a href="https://www.facebook.com/douglas.mendes.39501/"> <i class="fa fa-facebook"></i> </a>
            <a href="https://www.instagram.com/_douglasmv/"> <i class="fa fa-instagram"></i> </a>
            <a href="https://github.com/DouglasMendesVieira"> <i class="fa fa-github"></i> </a>
            <a href="https://www.linkedin.com/in/douglasmv"> <i class="fa fa-linkedin"></i> </a><br>
          </div>

          <span class="copy">Douglas's Store — 2022 <br>© Todos os direitos reservados</span>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
