.cart-top {
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: cornsilk;
  background-clip: border-box;
  position: relative;
  flex-direction: column;
  border: 2px solid black;
  border-radius: .25rem;
}

.items {
  margin: 0px 15px;
  text-align: center;
}

.items a:hover {
  color: blue;
}
